@black: rgb(50,50,50);
@white: rgb(245,245,245);
@gray: rgb(120,120,120);
@light-gray: rgb(180,180,180);
@very-light-gray: rgb(230,230,230);

* {
	box-sizing: border-box;
}

.nav {
	padding-left: 5%;
	padding-right: 5%;
	height: 50px;
	background-color: @black;
	a {
		color: @white;
		&:hover {
			color: @black;
		}
	}
	img {
		margin-top: 5px;
		height: 40px;
	}
	.nav-branding-text {
		margin-left: 1em;
		vertical-align: middle;
		font-family: 'Dancing Script', cursive;
		font-size: 1.4em;
		color: @white;
	}
}

.masthead img {
	height: 600px;
	max-width: 100%;
}

.index-features {
	margin: auto;
	text-align: center;
	width: 400px;
	.features-carousel-slide {
		padding: 1em;
		background-color: @black;
		border: 1px solid @light-gray;
		border-radius: 5px;
		color: @white;
		img {
			margin: auto;
			height: 100px;
			filter: invert(1);
			-webkit-filter: invert(1);
		}
	}
	.slick-slide {
		margin: auto;
		width: 400px;
	}
}
.slick-prev:before, .slick-next:before{
    color: @black;
    // top: -55px;
}